body{
    background-image: url(Cosmik.png);
    background-attachment: fixed;
    background-size: cover;
}


button {
  width: 95px;
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  margin: 100px;
  border-radius: 15px;
  background-size: 200px;
  background-repeat: no-repeat;
  }
  